extends ../layout

block body
	a(href='/story') Back
	if post
		.row
			.col-xs-4 
				p.post-title #{post.title} 
				p.post-info #[small.secondary-text= date(post.createdAt)] By #{post.author}
				p.post-body= post.body
				p: img(src=`https://s3.amazonaws.com/dogcation/posts/${post.id}-thumbnail`)
			.col-xs-4.right-align
				.panel.panel-info
					.panel-heading
						h4.panel-title Comments
					.panel-body
						include errors
						form(action=`/story/${post.title}/comments`, method='post')
							.form-group
								label(for='author') Author
								input.form-control(name='author')
							.form-group
								label(for='body') Comment
								textarea.form-control(name='body')
							.form-group
								input.btn.btn-success(type='submit', value='Create')
					ul.list-group
						if comments 
							each comment in comments
								li.list-group-item
									h4.list-group-item-heading #{comment.author} #[small= date(comment.createdAt)]
									p.list-group-item-text= comment.body
	else
		p That Dogcation story does not exist.