extends ../layout

block body
	if post
		.row
			.col-xs-7
				h1 #{post.title} #[small.secondary-text= date(post.createdAt)]
				h4 By #{post.author}
				p= post.body
				if post.imageFilename
					p: img(src=post.imageThumbnailUrl)
			.col-xs-5
				.panel.panel-default
					.panel-heading
						h3.panel-title Comments
					.panel-body
						include errors
						form(action=`/story/${post.title}/comments`, method='post')
							.form-group
								label(for='author') Author
								input.form-control(name='author')
							.form-group
								label(for='body') Body
								textarea.form-control(name='body')
							.form-group
								input.btn.btn-primary.btn-lg(type='submit', value='Create')
					ul.list-group
						if comments 
							each comment in comments
								li.list-group-item
									h4.list-group-item-heading #{comment.author} #[small= date(comment.createdAt)]
									p.list-group-item-text= comment.body
	else
		p That Dogcation story does not exist.